<a href="https://colab.research.google.com/github/Snehithreddy27/umbc_data690_fall2024/blob/main/session02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# UMBC Data 690 Fall 2024

## Session 2

In [ ]:
import pandas as pd

DATA_URL ="https://raw.githubusercontent.com/wcj365/python-stats-dataviz/master/fall2024/survey/UMBC%20DATA%20690%20FALL%202024%20DR%20WANG%20Student%20Survey.csv"

## Step1 - Load the Survey Response Data and Explore

In [ ]:
df = pd.read_csv(DATA_URL)

df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.sample(3)

## Step 2 - Explore Student Age

In [ ]:
yob_list = list(df["8. My Birth Year"])
yob

In [ ]:
 cleansed_yob_list = [] #Empty list
 cleansed_yob_list

In [ ]:
for yob in yob_list:
  cleansed_yob = yob[-4:]
  cleansed_yob_list.append(cleansed_yob)

cleansed_yob_list

In [ ]:
age_list=[]
for yob in cleansed_yob_list:

  age = 2024 - int(yob)
  age_list.append(age)

age_list

[24,
 22,
 27,
 25,
 24,
 23,
 24,
 25,
 46,
 24,
 25,
 24,
 26,
 23,
 23,
 24,
 22,
 32,
 23,
 27,
 25]

In [32]:
min(age_list)

22

In [33]:
max(age_list)

46

In [36]:
total_age = 0

for age in age_list:
  total_age = total_age + age

total_age

538

In [41]:
average= total_age/21

round(average)

26

In [49]:
total_age = 0

for age in age_list:
  if age >= 35 or age <= 22:
    print("Age",age,"is skipped")
    continue
  total_age = total_age + age

print("Total age is:" ,total_age)

Age 22 is skipped
Age 46 is skipped
Age 22 is skipped
Total age is: 448

In [43]:
average= total_age/21

round(average)

23